.alt-header-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
    padding-top: 10px;
}

.hamburger-menu{
    padding: 0px 10px; 
}
.plugsity-icon{
    padding: 0px 10px;
}


.alt-header-left{
    display: flex;
    align-items: center;
}