.card-style{
    width: 350px;
    height: 450px;
    margin: 16px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.skinny-card{
    display:inline-block;
    width: 264px;
    margin: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    text-decoration: none;
    color: black;

}


.skinny-card:hover{
    text-decoration: none;
    border: 2px solid blue;
    color: black
}


.see-more-card-products{
    font-size: 30px;
}