.dd-wrapper{
    display: inline-flex;
    align-self: center;
    position: relative; 
    z-index: 10;
    margin: 10px;
}

.dd-header{
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
}

.dd-border{
    border: 2px solid blue;
    border-radius: 22px;
    position: relative;
    z-index: 10;
}
.dd-header-title{
    padding-right:10px;
    position: relative;
    z-index: 10;
}

.dd-list{
    display: flex;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14);
    flex-direction: column;
    position: absolute;
    top: 50px;
    z-index: 10;

}

.dd-list-item{
    background-color:rgba(255, 255, 255, .95);
    display: flex;
    border: none;
    width: 100%;
   top: 0;
   position: relative;
   z-index: 10;
   padding: 8px 12px;
}
.dd-list-item:hover{
    background-color: rgba(200,200,200, .90);
    cursor: pointer;
}