.dd-wrapper{
    align-self: center;
    margin: 10px;
}

.dd-header{
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}

.dd-border{
    border: 2px solid blue;
    border-radius: 22px;
    
}
.dd-header-title{
    padding-right:10px
}

.dd-list{
    display: flex;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14);
    flex-direction: column;
    position: absolute;
    z-index: 10;

}

.dd-list-item{
    background-color: transparent;
    display: flex;
    border: none;
    width: 100%;
   top: 0;
   padding: 8px 12px;
}
.dd-list-item:hover{
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}