.header{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.header-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-link{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    padding: 10px;
}

.header-menu{
    justify-content: center;
}

.cartButton {
    
}