.homepage{
    background-color: #CCF0D9;
    width: 100%;
    display: flex;
    justify-content: center;
}
.homepageContent{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.heading{

    font-weight: bold;
    font-size: 42px;
    text-align: left;
    /* identical to box height, or 114% */
    color: #32313D;

}

