.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepageContent{
    display: flex;
    flex-direction: column;
}
.heading{

    font-weight: bold;
    font-size: 42px;
    /* identical to box height, or 114% */
    color: #32313D;

}

.popular-products{
    margin-top: 50px;
    padding-left: 50px;
}

.homepage .tab-list{
    width: fit-content;
}
.homepage-carousel{
    width: 100%;
    height: 500px;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popular-reviews-container{
    background-color: #32313D;
    padding: 50px 50px;
}

.popular-reviews-label{
    color: white;
    font-size: 42px;
    padding-bottom: 20px;
}

.popular-reviews{
    display: flex;

    justify-content: space-evenly;

}

.services{
    width: 100%;
}
/* .products-list>* {
    flex: 1 1 160px;
} */