.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepageContent{
    display: flex;
    flex-direction: column;
}
.heading{

    font-weight: bold;
    font-size: 42px;
    /* identical to box height, or 114% */
    color: #32313D;

}

.popular-products{
    margin-top: 50px;
    padding-left: 50px;
}

.homepage .tab-list{
    width: fit-content;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services{
    width: 100%;
}
/* .products-list>* {
    flex: 1 1 160px;
} */