
.product-container {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.product-details-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8F8F8;
    padding: 20px;
    flex: 1;
}

.product-details-right {
    flex: 1;
}
.row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.column {
    /* flex: 50%; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.img-left {
    max-width: 90%;
    margin: 50px auto;
    border-radius: 20px;
}

.product-details-blue-button{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.product-details-review-bar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.business-attrs {
    margin-left: 5px;
}

.product-img {
    background: #f8f8f8;
}

.btn {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}

.btn-border-blue {
    border: 1px solid #008cba;
    background-color: white;
    color: #008cba;
    /* padding: 15px 32px; */
}

.btn-plus {
    background-color: #ccf0d9;
    margin-left: 10px;
}

.btn-minus {
    background-color: #e7e7e7;
    margin-right: 10px;
}

.btn-blue {
    background-color: #0f1011; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
}

#header-left {
    margin-left: 20px;
}

#header {
    text-align: center;
}
.results-container {
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
    margin-left: 80px;
}

.filter-menus{
    position: fixed;
    bottom: 0%;
    top: 0%;
    top: 150px;
    left: 100px;
    z-index : 100000;
}

.menu-wrapper{
    overflow-y: scroll;
    height: 100%;    
}



.image {
    width: 345px;
    height: 350px;
    
}

.l-wrap {
    max-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.two-col-grid .grid-item {
    width: 50%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
}

.two-col-grid:after {
    display: table;
    clear: both;
    content: "";
}

