html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.product-container {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.column {
    /* flex: 50%; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.img-left {
    max-width: 500px;
}

.business-attrs {
    margin-left: 5px;
}

.product-img {
    background: #f8f8f8;
}

.btn {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}

.btn-border-blue {
    border: 1px solid #008cba;
    background-color: white;
    color: #008cba;
    /* padding: 15px 32px; */
}

.btn-plus {
    background-color: #ccf0d9;
    margin-left: 10px;
}

.btn-minus {
    background-color: #e7e7e7;
    margin-right: 10px;
}

.btn-blue {
    background-color: #0f1011; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
}

#header-left {
    margin-left: 20px;
}

#header {
    text-align: center;
}
.results-container {
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
    margin-left: 80px;
}

.result-item {
    padding: 16px;
    margin: 35px;
    text-align: center;
    min-width: 200px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.product-data{
    color: #32313d;
    text-decoration: none;
    font-size: 14px;
    font-family: "DM Sans";
    height: 100px;
    background-color: #f8f8f8;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-data-name{
    font-size: 16px;
}

.product-data-price{
    opacity: 0.5;
}


.image {
    width: 345px;
    height: 350px;
    
}

.image-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.l-wrap {
    max-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.two-col-grid .grid-item {
    width: 50%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
}

.two-col-grid:after {
    display: table;
    clear: both;
    content: "";
}
