.review-card-video{
    height: 250px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    position: relative;
    overflow: hidden;
}

.review-card-data{
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
}
.review-card-user{
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 10px;
    color: white;
}

.review-card-video-player{
    position: relative;
    height: inherit;
}
.review-card-headline{
    margin: 10px 10px;
}

.review-card-details{
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.review-card-details img{
    width: 40px;
    height: 40px;
    vertical-align: baseline;
}

.review-card-product-details{
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 20px;
}

.price-stars-container{
    margin: 0px 10px;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}
